body {
    padding: 0;
    margin: 0;
}
.menu-icon-oculto {
 display: none;
}
.buscar {
  display: none;
  color: #939AA9;
  text-decoration: none;
  font-size: 18px;
}
.menu-imagen {
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 10px;
    padding-top: 30px;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor ul {
    display: flex;
    justify-content: center;
/*     border: 1px solid #000; */
}
.contenedor li {
    list-style: none;
    letter-spacing: 1px;
    padding: 0px 10px;
}
#lista-uno:hover {
  top: 20px;
  background: #feb142;
}
.contenedor nav{
  position: relative;
}
#desplegable-menu{
  display: none;
  position: absolute;
  left: 162px;
}
#desplegable-menu a {
  padding: 15px 20px;
  font-size: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#lista-uno-principal li:nth-child(3):hover #desplegable-menu {
  display: block;
  z-index: 100;
}

.contenedor a {
    font-family: 'Raleway';
    color: #000;
    text-decoration: none;
    font-size: 12px;
}
.menu-redes ul {
    padding-left: 2px;
}
.menu-redes a {
    color: rgb(186, 186, 186);
    font-size: 23px;
}
.icono:hover {
  transform: scale(1.2);
}

/* Quienes somos */
.quienes-somos {
    position: relative;

}
.quienes-somos iframe {
  width: 100%;
  height: 500px;
  background-size: contain;
}
.text-somos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text-somos h2{
    margin: auto;
    color: #fff;
    font-weight: 900;
    font-size: 50px;

}

/* section historia */

.historia .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.historia p{
  text-align: center;
  color: #939AA9;
  font-size: 16px;
  font-family: 'Raleway';
  width: 50%;
  padding: 10px;
  margin: 20px 5px;
}
/* section certificacion */

#certificaciones {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  font-family: 'Raleway';
}
#certificaciones .contenedor{
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 10px solid #FFA726;
  padding: 10px;
  border-radius: 20px;
}
#certificaciones h3 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 15px;
}
#certificaciones p{
  margin: 0;
  text-align: center;
  width: 90%;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 300;
}
/* carousel-nosotros */

#carousel-nosotros {
  width: 90%;
  margin-left: 70px;
  margin: 0 auto;
  padding-bottom: 120px;  
}
.multiple-items {
  display: flex !important;
}
.multiple-items img {
  height: 350px;
  width: 100%;
  margin: auto;
}
#carousel-nosotros .slick-prev,#carousel-nosotros .slick-next {
  padding: 0 20px;
  font-size: 40px;
  background: none;
  border: none;
  color: darkgray;
}
/* section mapa */
#mapa {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#mapa h3{
  font-size: 30px;
  font-weight: 200;
  font-family: 'Raleway';
  padding-bottom: 20px;
  letter-spacing: 2px;
}
#map {
  height: 400px;
  width: 90%;
}
/* nav-dos */
#nav-dos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:90px;
  padding-bottom: 10px;
}
.contenedor-nav-dos ul{
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  margin: 10px;
}
.contenedor-nav-dos li {
  list-style: none;
  padding: 15px 10px 20px 10px;
}
.contenedor-nav-dos .a-nav-dos{
  text-decoration: none;
  list-style: none;
  color: #000;
  font-size: 13px;
}

/* footer */
footer {
  background: url(imagenes/footer_news_02.png);
  background-color: #feb142;
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  background-position: center right ;
  text-align: center;
  padding-top: 60px;
}
footer h2{
  color: #fff;
  font-size: 46px;
  font-family: 'Raleway';
}
footer p{
  color: #fff;
  font-size: 20px;
  font-family: 'Raleway';
}
footer input{
  width: 48%;
  height: 52px;
  background-color: #fff7ec;
  border-width: 0px;
  border-style: solid;
  color: #363636;
  font-family: Josefin Sans;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 18px;
  margin-bottom: 10px;
}

footer button{
background-color: #fed406;
height: 52px;
margin-left: 20px;
border: none;
padding: 0 50px 0 50px;
color: #fff;
font-family: 'Raleway';
letter-spacing: 2px;
font-size: 13px;
}
.btn-submit:hover {
color: #000;
}
.btn-footer {
padding-bottom: 50px;
}

.whatsapp-link {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 999;
}

.whatsapp-logo {
width: 56px;
height: 56px;
border-radius: 50%;
}
.marca {
  color: #ffffff;
  background-color: #939AA9;
  font-family: Raleway,sans-serif;
  padding: 8px;

}
.marca h1{
font-size: 30px;
}

@media screen and (max-width: 800px){

  /* responsive nav */

  .menu-imagen {
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-top: 22px;
}
  .menu-icon-oculto {
    display: block;
    margin-right: 23px;
    margin-top: 15px;
}
.buscar {
  display: block;
}

.contenedor {
  justify-content: start;
  margin-left: -9px;

  
}
.contenedor ul {
  flex-direction: column;
  
}
.contenedor li {
  text-underline-position: under;
  text-decoration: underline 2px #939AA9;
  width: 100%;
}
.contenedor a {
  font-size: 11px;
  letter-spacing: 2px;
}
#lista-uno-principal:hover li {
  color: #feb142;
}
.menu-redes {
  display: none;
}


/* quienes somos */
.quienes-somos iframe {
  width: 100%;
  height: 200px;
}
.text-somos h2 {
  font-size: 33px;
  background: #939AA9;
}
.historia p {
  text-align: center;
  color: #939AA9;
  font-size: 14px;
  font-family: 'Raleway';
  width: 75%;
  padding: 0px;
  margin: 26px 0px;
}
iframe {
  height: 250px;
}
#certificaciones h3 {
  font-size: 19px;
}
#certificaciones p {
  margin: 4px 0;
  font-size: 12px;
}

#carousel-nosotros {
  padding-bottom: 42px;
}
#nav-dos {
display: none;
}
footer {
  margin-top: 30px;
}
footer h2 {
  font-size: 25px;
  font-weight: 300;
}
footer p {
  font-size: 15px;
  font-weight: 300;
}

footer button {
  height: 39px;
  margin-left: 2px;
  padding: 0 50px 0 45px;
}
footer input {
  width: 66%;
  height: 47px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 11px;
  margin-bottom: 10px;
}

.marca h1 {
  font-size: 12px;
  padding-top: 5px;
}
}