body {
  padding: 0;
  margin: 0;
}

.menu-icon-oculto {
  display: none;
}

.buscar {
  display: none;
  color: #939AA9;
  text-decoration: none;
  font-size: 18px;
}

.menu-magiclick {
  height: 60px;
}

.menu-fijo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-fijo .contenedor {
  display: flex;
  align-items: center;
  padding-top: 14px;
}

.contenedor ul {
  display: flex;
  justify-content: center;
  /*     border: 1px solid #000; */
}

.contenedor li {
  list-style: none;
  letter-spacing: 1px;
  padding: 0px 10px;
}

#lista-uno:hover {
  top: 20px;
  background: #feb142;
}

.contenedor nav {
  position: relative;
}

#desplegable-menu {
  display: none;
  position: absolute;
  left: 153px;

}

#desplegable-menu a {
  padding: 15px 20px;
  font-size: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: filter 0.3s ease-in-out;
}

#desplegable-menu a:hover {
  filter: brightness(115%);
}

#lista-uno-principal li:nth-child(3):hover #desplegable-menu {
  display: block;
  z-index: 100;
}

.contenedor a {
  font-family: 'Raleway';
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.menu-redes ul {
  padding-left: 2px;
}

.menu-redes a {
  color: rgb(186, 186, 186);
  font-size: 23px;
}

.icono:hover {
  transform: scale(1.2);
}

/* Quienes somos */
.quienes-somos {
  position: relative;
}

.quienes-somos iframe {
  width: 100%;
  height: 600px;
  background-size: contain;
  filter: brightness(40%);
  /* Ajusta el valor de brightness según lo oscuro que quieras que sea el video */
}

.text-somos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Asegura que el encabezado esté por encima del video */
}

.text-somos h2 {
  margin: auto;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
}

/* section historia */
.historia iframe {
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

.historia .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.historia img {
  width: 25%;
}

.historia p {
  text-align: center;
  color: #939AA9;
  font-size: 16px;
  font-family: 'Raleway';
  width: 50%;
  padding: 10px;
  margin: 20px 5px;
}

/* section certificacion */

#certificaciones {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  font-family: 'Raleway';
}

#certificaciones .contenedor {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 10px solid #FFA726;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
}

.contenedor img {
  width: 20%;
}

#certificaciones h3 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 15px;
}

#certificaciones p {
  margin: 0;
  text-align: center;
  width: 90%;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 300;
}

/* carousel-nuevo */
@keyframes heartbeat {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.slider-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 700px;
}
.slider-container .bullet-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container .bullet-container .bullet {
  margin-right: 14px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
}
.slider-container .bullet-container .bullet:last-child {
  margin-right: 0px;
}
.slider-container .bullet-container .bullet.active {
  opacity: 1;
}
.slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
}
.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
}
.slider-container .slider-content .slider-single .slider-single-image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}

.slider-container .slider-content .slider-single.preactivede .slider-single-image {
  transform: translateX(-50%) scale(0);
}
.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.preactive .slider-single-image {
  opacity: 0.3;
  transform: translateX(-25%) scale(0.8);
}
.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.proactive .slider-single-image {
  opacity: 0.3;
  transform: translateX(25%) scale(0.8);
}
.slider-container .slider-content .slider-single.proactivede .slider-single-image {
  transform: translateX(50%) scale(0);
}
.slider-container .slider-content .slider-single.active {
  z-index: 2;
}
.slider-container .slider-content .slider-single.active .slider-single-image {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
.slider-container .slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  right: 85%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  border-top: 2px solid #feb142;
  border-right: 2px solid #feb142;
  border-bottom: 2px solid #feb142;
  border-left: 2px solid #feb142;
  margin-right: -2px;
}
.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  left: 85%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  border-top: 2px solid #feb142;
  border-right: 2px solid #feb142;
  border-bottom: 2px solid #feb142;
  border-left: 2px solid #feb142;
  margin-left: -2px;
}
.slider-container .not-visible {
  display: none !important;
}

/* section mapa */
#mapa {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#mapa h3 {
  font-size: 30px;
  font-weight: 200;
  font-family: 'Raleway';
  padding-bottom: 20px;
  letter-spacing: 2px;
}

#map {
  height: 350px;
  width: 100%;
}

/* nav-dos */
#nav-dos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.contenedor-nav-dos ul {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  margin: 10px;
}

.contenedor-nav-dos li {
  list-style: none;
  padding: 15px 10px 20px 10px;
}

.contenedor-nav-dos .a-nav-dos {
  text-decoration: none;
  list-style: none;
  color: #000;
  font-size: 13px;
}

/* footer */
footer {
  background: url(imagenes/footer_news_02.png);
  background-color: #feb142;
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  background-position: center right ;
  text-align: center;
  padding-top: 60px;
}
footer h2{
  color: #fff;
  font-size: 46px;
  font-family: 'Raleway';
}
footer p{
  color: #fff;
  font-size: 20px;
  font-family: 'Raleway';
}
footer input{
  width: 48%;
  height: 52px;
  background-color: #fff7ec;
  border-width: 0px;
  border-style: solid;
  color: #363636;
  font-family: Josefin Sans;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 18px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 15px;
}

footer button{
background-color: #fed406;
height: 52px;
margin-left: 20px;
border: none;
padding: 0 50px 0 50px;
color: #fff;
font-family: 'Raleway';
letter-spacing: 2px;
font-size: 13px;
border-radius: 15px;
}
.btn-submit:hover {
color: #000;
}
.btn-footer {
padding-bottom: 50px;
}

.whatsapp-link {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 999;
}

.whatsapp-logo {
width: 56px;
height: 56px;
border-radius: 50%;
}
.marca {
  color: #ffffff;
  background-color: #939AA9;
  font-family: Raleway,sans-serif;
  padding: 8px;

}
.marca h1{
font-size: 30px;
}

@media screen and (max-width: 800px) {

  /* responsive nav */
  .menu-fijo {
    display: inline;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    z-index: 999;
    width: 100%;
    box-shadow: none;
  }

  .menu-fijo .contenedor {
    padding-top: 0px;
  }

  .menu-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .menu-magiclick {
    font-size: 10px;
  }

  .menu-icon-oculto {
    display: block;
    margin-top: 15px;
  }

  .buscar {
    display: block;
  }

  .contenedor {
    justify-content: start;
    margin-left: -9px;
    padding-top: 0px;
  }

  .contenedor nav {
    position: relative;
    width: 95%;
  }

  .contenedor ul {
    flex-direction: column;

  }

  .contenedor li {
    padding: 0;
    border-bottom: 1px solid #a7a8aa;
  }

  .contenedor a {
    font-size: 11px;
    letter-spacing: 2px;
  }

  #lista-uno-principal:hover li {
    color: #feb142;
  }

  nav {
    display: none;
  }

  .menu-redes {
    display: none;
  }

  /* quienes somos */

  .quienes-somos iframe {
    width: 100%;
    height: 250px;
  }

  .text-somos h2 {
    text-align: center;
    font-size: 33px;
  }

  .historia .conteiner {
    margin-top: 20px;
  }

  .historia img {
    width: 45%;
  }

  .historia p {
    text-align: center;
    color: #939AA9;
    font-size: 14px;
    font-family: 'Raleway';
    width: 90%;
    padding: 0px;
    margin: 14px 0px;
  }

  .historia iframe {
    height: 250px;
  }

  .contenedor img {
    width: 30%;
  }

  #certificaciones h3 {
    font-size: 13px;
    margin: 0px;
  }

  #certificaciones p {
    margin: 4px 0;
    font-size: 11px;
  }

  .slider-container {
    width: 80%;
    height: 300px;
}
.slider-container .slider-right, .slider-container .slider-left {
  padding: 10px 4px;
}

  #mapa h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  #mapa {
    height: 250px !important;
    margin-bottom: 15px;
  }

  #nav-dos {
    display: none;
  }

  footer {
    padding-top: 15px;
  }

  footer h2 {
    font-size: 21px;
    font-weight: 300;
  }

  footer p {
    font-size: 12px;
    font-weight: 300;
  }

  .btn-footer {
    padding-bottom: 14px;
  }

  footer button {
    height: 31px;
    margin-left: 0px;
    padding: 0 45px 0 45px;
  }

  footer input {
    width: 66%;
    height: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .marca h1 {
    font-size: 12px;
    padding-top: 5px;
  }
}