body {
    margin: 0;
    padding: 0;
}
.menu-icon-oculto {
    display: none;
   }
   .buscar {
     display: none;
     color: #939AA9;
     text-decoration: none;
     font-size: 18px;
   }
   .menu-imagen {
       display: flex;
       justify-content: center;
       height: 80px;
       padding: 30px;
       margin-bottom: 20px;
   }
   .menu-magiclick {
     height: 60px;
   }
   .contenedor {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .contenedor ul {
       display: flex;
       justify-content: center;
   /*     border: 1px solid #000; */
   }
   .contenedor li {
       list-style: none;
       letter-spacing: 1px;
       padding: 0px 10px;
   }
   #lista-uno:hover {
     top: 20px;
     background: #feb142;
   }
   .contenedor nav{
     position: relative;
   }
   #desplegable-menu{
     display: none;
     position: absolute;
     left: 162px;
   }
   #desplegable-menu a {
     padding: 15px 20px;
     font-size: 10px;
     text-align: center;
     display: flex;
     flex-direction: column;
   }
   
   #lista-uno-principal li:nth-child(3):hover #desplegable-menu {
     display: block;
     z-index: 100;
   }
   
   .contenedor a {
       font-family: 'Raleway';
       color: #000;
       text-decoration: none;
       font-size: 12px;
   }
   .menu-redes ul {
       padding-left: 2px;
   }
   .menu-redes a {
       color: rgb(186, 186, 186);
       font-size: 23px;
   }
   .icono:hover {
     transform: scale(1.2);
   }
   /* productos */
   .productos {
    position: relative;

}
.productos iframe {
  width: 100%;
  height: 500px;
}
.text-somos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text-somos h2{
    margin: auto;
    color: #fff;
    font-weight: 900;
    font-size: 50px;
}
/* categorias productops */

.contenedor-cat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    grid-column: 40px;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;

}
.cat-cafe {
    position: relative;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
}
.img-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Raleway';
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 30px;

}
.cat-cafe img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.cat-cafe:hover img {
    transform: scale(1.05);
} 
/* carousel-dos */
#carousel-dos {
    margin-left: 100px;
    margin-top: 60px;
 }
 .carousel-dos {
    width: 90%;
    display: flex !important;
    padding: 20px;
 }
 .carousel-img {
    width: 20%; /* 25% width for each item */
    padding: 10px;
  }
  
  .carousel-img img {
    width: 100%;
    height: auto;
  }

  .slick-prev, .slick-next {
    padding: 0 20px;
    font-size: 40px;
    background: none;
    border: none;
    color: darkgray;
  }
  .carousel-img h3{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 1px;
  }

  #nav-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:90px;
    padding-bottom: 10px;
  }
  .contenedor-nav-dos ul{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    margin: 10px;
  }
  .contenedor-nav-dos li {
    list-style: none;
    padding: 15px 10px 20px 10px;
  }
  .contenedor-nav-dos .a-nav-dos{
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 13px;
  }
  /* footer */
  footer {
    background: url(imagenes/footer_news_02.png);
    background-color: #feb142;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    background-position: center right ;
    text-align: center;
    padding-top: 60px;
  }
  footer h2{
    color: #fff;
    font-size: 46px;
    font-family: 'Raleway';
  }
  footer p{
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway';
  }
  footer input{
    width: 48%;
    height: 52px;
    background-color: #fff7ec;
    border-width: 0px;
    border-style: solid;
    color: #363636;
    font-family: Josefin Sans;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 18px;
    margin-bottom: 10px;
}

footer button{
background-color: #fed406;
height: 52px;
margin-left: 20px;
border: none;
padding: 0 50px 0 50px;
color: #fff;
font-family: 'Raleway';
letter-spacing: 2px;
font-size: 13px;
}
.btn-submit:hover {
  color: #000;
}
.btn-footer {
  padding-bottom: 50px;
}

.whatsapp-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.whatsapp-logo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.marca {
    color: #ffffff;
    background-color: #939AA9;
    font-family: Raleway,sans-serif;
    padding: 8px;

}
.marca h1{
  font-size: 30px;
}

@media screen and (max-width: 800px){

    /* responsive nav */
  
    .menu-imagen {
      justify-content: space-evenly;
      align-items: center;
      padding: 10px;
      padding-top: 22px;
  }
    .menu-icon-oculto {
      display: block;
      margin-right: 23px;
      margin-top: 15px;
  }
  .buscar {
    display: block;
  }
  
  .contenedor {
    justify-content: start;
    margin-left: -9px;
  
    
  }
  .contenedor ul {
    flex-direction: column;
    
  }
  .contenedor li {
    text-underline-position: under;
    text-decoration: underline 2px #939AA9;
    width: 100%;
  }
  .contenedor a {
    font-size: 11px;
    letter-spacing: 2px;
  }
  #lista-uno-principal:hover li {
    color: #feb142;
  }
  .menu-redes {
    display: none;
  }
  .productos iframe {
    width: 100%;
    height: 250px;
}
.contenedor-cat {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 17px;
    max-width: 90%;
}
.cat-cafe {
    height: 170px;
}
.img-link {
    font-size: 12px;
    padding: 10px 17px;
}
  #carousel-dos {
    margin-left: 0;
  }
  .carousel-dos {
    width: 90%;
    left: 18px;
  }
  #nav-dos {
    display: none;
    }
    footer {
      margin-top: 30px;
    }
    footer h2 {
      font-size: 25px;
      font-weight: 300;
    }
    footer p {
      font-size: 15px;
      font-weight: 300;
    }
    
    footer button {
      height: 39px;
      margin-left: 2px;
      padding: 0 50px 0 45px;
    }
    footer input {
      width: 66%;
      height: 47px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 11px;
      margin-bottom: 10px;
    }
    
    .marca h1 {
      font-size: 12px;
      padding-top: 5px;
    }
}