body {
    padding: 0;
    margin: 0;
}
.menu-icon-oculto {
 display: none;
}
.buscar {
  display: none;
  color: #939AA9;
  text-decoration: none;
  font-size: 18px;
}
.menu-imagen {
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 30px;
    margin-bottom: 20px;
}
.menu-magiclick {
  height: 60px;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor ul {
    display: flex;
    justify-content: center;
/*     border: 1px solid #000; */
}
.contenedor li {
    list-style: none;
    letter-spacing: 1px;
    padding: 0px 10px;
}
#lista-uno:hover {
  top: 20px;
  background: #feb142;
}
.contenedor nav{
  position: relative;
}
#desplegable-menu{
  display: none;
  position: absolute;
  left: 162px;
}
#desplegable-menu a {
  padding: 15px 20px;
  font-size: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#lista-uno-principal li:nth-child(3):hover #desplegable-menu {
  display: block;
  z-index: 100;
}

.contenedor a {
    font-family: 'Raleway';
    color: #000;
    text-decoration: none;
    font-size: 12px;
}
.menu-redes ul {
    padding-left: 2px;
}
.menu-redes a {
    color: rgb(186, 186, 186);
    font-size: 23px;
}
.icono:hover {
  transform: scale(1.2);
}

  /* productos */
  .productos {
    position: relative;

}
.productos img {
  width: 100%;
  height: 500px;
}
.text-somos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text-somos h2{
    margin: auto;
    color: #fff;
    font-weight: 900;
    font-size: 70px;
}

/* section buscar */
#buscar {
    background: #caedfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
}
#buscar .container {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 40px;
}
#buscar p{
    font-size: 30px;
    color: #42A5F5;
    margin-right: 30px;
}
#buscar input {
    width: 30%;
    height: 52px;
    background-color: #ffff;
    border-width: 0px;
    border-style: solid;
    color: #363636;
    font-family: Josefin Sans;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 18px;
    margin-bottom: 10px;
}

.lista-producto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    width: 90%;
    text-align: center;
    
}
.objeto {
    position: relative;
    cursor: pointer;
}

.objeto .texto {
    position: absolute;
    color: #42A5F5;
    width: 80%;
    height: auto;
    font-weight: 600;
    font-family: 'Raleway';
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.objeto:hover .texto {
      display: block;
}
.objeto img{
    width: 100%;
    border-radius: 50%;
    height: 300px;
    border-top:10px solid #42A5F5;
    transition: filter 0.5s;
}
.objeto:hover img {
  filter: brightness(40%);
}
/* modal */
#modal1 {
    width: 50%;
    left: 25%;
    height: 692px;
    margin: 30px 0 30px 0;
    box-shadow: 0px 1px 51px 8px rgba(10,10,10,0.5);
    border-radius: 20px;
}
#modal1 .img-produ {
    width: 50%;
    height: 400px;
    border-radius: 20px;
}
#modal1 .contenedor img {
    transition: transform 0.3s ease;
}
#modal1 .contenedor img:hover {
    transform: scale(1.2);
}
.img-todas {
    height: 400px;
    width: 15%;
    display: grid;
    grid-template-columns: 1fr; /* Una columna */
    grid-auto-rows: minmax(0, 1fr); /* Altura flexible para las filas */
    gap: 20px; /* Espacio entre las im치genes */
    margin-left: 37px;
}
.img-todas img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;

  }
.close {
    font-size: 30px;
    text-align: end;
    padding-right: 15px;
    color: #939AA9;
}
.modal-content h2{
    color: #fff !important;
    font-family: "Raleway" !important;
    background-color: #42A5F5;
    font-size: 27px;
    padding: 8px 43px;
    border-radius: 15px;
    letter-spacing: 1px;
    z-index: 10;
}
.titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5px;
    margin-top: 10px;
}
.modal-content h3{
    color: #42A5F5;
    font-weight: bold;
    font-size: 19px;

}
.descripcion {
    display: flex;
    justify-content: space-evenly;
    margin-left: 72px;
}
.descripcion li{
    color: #363636;
    list-style: none;
    text-align: start;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    position: relative; /* A침ade posici칩n relativa al elemento li */
    margin-bottom: 10px;
}
.descripcion li::before {
    content: "\2022";
    color: #42A5F5;
    position: absolute;
    left: -17px;
    font-size: 30px;
    top: -13px; /* Ajusta la posici칩n horizontal del punto */
  }
.modal-content .industria {
    width: 200px;
    height: 100px;
}
.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalogo button{
    font-size: 10px;
    color: #42A5F5;
    margin-top: 10px;
    border:none;
    border-radius: 10px;
}

 /* disfruta hogar */

 #disfruta-hogar {
    height: 327px;
    width: 100%;
    background: #e5efda;
}
  #disfruta-hogar .comprar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px 40px 10px;

  }
  #disfruta-hogar h2{
    font-size: 32px;
    font-weight: 300;
    font-family: 'Raleway';
    margin-left: 60px;

  }
  #disfruta-hogar a{
    text-decoration: none;
    padding: 20px 40px;
    color: #fff;
    background: #feb142;
    height: 100%;
    margin-right: 60px;
    font-size: 12px;
  }
  .hogar-img {
    display: flex;
    overflow: hidden;
    
  }
  .imagen-final {
    width: 100%;
    height: 180px;
    background-size: cover;
    transition: transform 0.3s ease;

  }
  .imagen-final:hover {
    transform: scale(1.1); /* Escala de 1.1 para expandir el fondo de la imagen */
    
  }
  #nav-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:90px;
    padding-bottom: 10px;
  }
  .contenedor-nav-dos ul{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    margin: 10px;
  }
  .contenedor-nav-dos li {
    list-style: none;
    padding: 15px 10px 20px 10px;
  }
  .contenedor-nav-dos .a-nav-dos{
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 13px;
  }

  /* footer */
  footer {
    background: url(imagenes/footer_news_02.png);
    background-color: #feb142;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    background-position: center right ;
    text-align: center;
    padding-top: 60px;
  }
  footer h2{
    color: #fff;
    font-size: 46px;
    font-family: 'Raleway';
  }
  footer p{
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway';
  }
  footer input{
    width: 48%;
    height: 52px;
    background-color: #fff7ec;
    border-width: 0px;
    border-style: solid;
    color: #363636;
    font-family: Josefin Sans;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 18px;
    margin-bottom: 10px;
}

footer button{
background-color: #fed406;
height: 52px;
margin-left: 20px;
border: none;
padding: 0 50px 0 50px;
color: #fff;
font-family: 'Raleway';
letter-spacing: 2px;
font-size: 13px;
}
.btn-submit:hover {
  color: #000;
}
.btn-footer {
  padding-bottom: 50px;
}

.whatsapp-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.whatsapp-logo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.marca {
    color: #ffffff;
    background-color: #939AA9;
    font-family: Raleway,sans-serif;
    padding: 8px;

}
.marca h1{
  font-size: 30px;
}
@media screen and (max-width: 800px){

    /* responsive nav */
  
    /* responsive nav */
  
    .menu-imagen {
      justify-content: space-evenly;
      align-items: center;
      padding: 10px;
      padding-top: 22px;
  }
    .menu-icon-oculto {
      display: block;
      margin-right: 23px;
      margin-top: 15px;
  }
  .buscar {
    display: block;
  }
  
  .contenedor {
    justify-content: start;
    margin-left: -9px;
  
    
  }
  .contenedor ul {
    flex-direction: column;
    
  }
  .contenedor li {
    text-underline-position: under;
    text-decoration: underline 2px #939AA9;
    width: 100%;
  }
  .contenedor a {
    font-size: 11px;
    letter-spacing: 2px;
  }
  #lista-uno-principal:hover li {
    color: #feb142;
  }
  .menu-redes {
    display: none;
  }
  .productos img {
    height: 250px;
}
  .text-somos h2 {
    font-size: 44px;
}
#buscar .container {
    padding: 18px;
}
#buscar p {
    font-size: 20px;
    margin-right: 20px;
}
#buscar input {
    width: 51%;
    height: 32px;
    font-size: 13px;
}
.lista-producto {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28px;
}
.objeto .texto {
    top: 83%;
    left: 24%;
    font-size: 12px;
}
.objeto img {
    height: 170px;
}

#modal1 {
    width: 90%;
    left: 21px;
}
#modal1 .img-produ {
    height: 250px;
}
.img-todas {
    height: 250px;
    margin-left: 10px;
}
#modal1 .contenedor {
    justify-content: center;
}
.modal-content h2 {
    font-size: 13px;
    padding: 8px 25px;
}
.modal-content h3 {
    font-size: 11px;
}
.descripcion {
    margin-left: 33px;
}
.descripcion li {
    font-size: 13px;
}
.catalogo {
    margin-right: 39px;
    margin-top: 29px;
}
.modal-content .industria {
    width: 50px;
    height: 50px;
}

/* Responsive disfruta hogar y nav 2 */

#disfruta-hogar, #nav-dos {
    display: none;
    }
    
    footer {
      margin-top: 0px;
    }
    footer h2 {
      font-size: 25px;
      font-weight: 300;
    }
    footer p {
      font-size: 15px;
      font-weight: 300;
    }
    
    footer button {
      height: 39px;
      margin-left: 2px;
      padding: 0 50px 0 45px;
    }
    footer input {
      width: 66%;
      height: 47px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 11px;
      margin-bottom: 10px;
    }
    
    .marca h1 {
      font-size: 12px;
      padding-top: 5px;
    }
}
